@import url(./normalizecss.css);

:root {
    --_marginBottom: 15px;
}

html {
    color: #eee;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    /*background-color: #1c2833;*/
    background-color: #212121;
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;    
}

.header {
    border-bottom: 3px solid #3d7e92;    
    margin-left: auto;
    margin-right: auto;
}

.generalContent {
    margin-left: auto;
    margin-right: auto;
}

.textCenter {
    text-align: center;
}

.divSyntax {
    border-top-style: solid;
    margin-bottom: var(--_marginBottom);
}

.spanSyntax {
    font-weight: bold;
    color: floralwhite;
}

.divValues {
    margin-bottom: var(--_marginBottom);
}

.divExample {
    border-top-style: solid;
    margin-bottom: var(--_marginBottom);
    padding-top: 10px;
}

.textExample{
    font-size: 1.3em;
}

.centerElement {
    margin-left: auto;
    margin-right: auto;
}

.preCode {
    background-color: #34495e;
    color: #eee;
    border-radius: 5px;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 5px;
    white-space: pre-line;
}

.divResultado {
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    border: 3px solid #3d7e9a;
    border-radius: 5px;
    margin-bottom: var(--_marginBottom);
}

.divNota {
    border: 3px solid #cb4335;    
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: var(--_marginBottom);
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.section {
    border-bottom-style: solid;
    padding-bottom: 20px;
}

@media(min-width: 768px) {
    
    body {
        background:  #0a0b0c;
    }

    .container {
        background: #1c2833;
        width: 70%;
        padding-top: 1px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
    }

}