/*
EN CSS LA CASCADA SIGNIFICA QUE LOS ESTILOS QUE SE HAN DEFINIDO PARA ALGÚN SELECTOR PUEDEN SER REESCRITOS POR OTROS MAS "ADLANTE" (LO QUE VIENE DESPÚES SOBRESCRIBE LO QUE ESTÁ
ANTES)
*/

:root {
    --color-red: peru; /* CON ESTA LINEA SE DECLARA UNA VARIABLE */
}

body {
    background: var(--color-red); /* EN ESTA LINEA SE ESTA USANDO LA VARIABLE */
}


/*************************
*** SELECTORES DE CLASE **
**************************
UNA CLASE ES UN ATRIBUTO DE UN ELEMENTO HTML
NO SE DEBEN USAR SELECTORES DE ETIQUETA O TITULO, TAMPOCO ES RECOMENDABLE USAR SELECTORES DE ID, SIEMPRES ES RECOMENDABLE USAR SELECTORES DE CLASE, LOS SELECTORES DE CLASES SE
DEFINEN CON UN . AL INICIO */

p { /* NO SE DEBE USAR ESTE SELECTOR DE ETIQUETA */
    text-align: center;
}

#parrafo { /* NO ES RECOMENDABLE USAR ESTE SELECTOR DE ID */
    text-align: center;
}

.parrafo { /* ES RECOMENDABLE USAR ESTE SELECTOR DE CLASE */
    text-align: center;
}


/***********************
*** SELECTORES DE ID ***
************************
UN SELECTOR DE ID ES UN IDENTIFICADOR UNICO QUE NO SE VA A REPETIR NUNCA
AL IGUAL QUE CON LOS NOMBRES DE LAS ETIQUETAS NO SE DEBEN USAR SELECTORES DE ID PARA DEFINIR ESTILOS, ESTO ES UNA MALA PRÁCTICA PORQUE NO SE PUEDEN REUTILIZAR, LOS SELECTORES 
DE ID SE DEFINEN CON UN # AL INICIO */

#parrafo { /* NO SE DEBE USAR UN SELECTOR DE ID YA QUE ESTE NO SE PUEDE REUTILIZAR EN OTRO ELEMENTO HTML */
    text-align: center;
}


/***************************
*** SELECTORES UNIVERSAL ***
****************************
UN SELECTOR UNIVERSAL COMO SU NOMBRE LO INDICA ESTE SELECCIONA ABSOLUTAMENTE TODO
PARA DECLARAR UN SELECTOR UNIVERSAL SE USA EL *, LA UTILIDAD QUE TIENE ESTE ES MUY POCA, DE ECHO NO SE RECOMIENDA SU USO YA QUE TIENE COMPORTAMIENTOS INESPERADOS */

* {
    /*color: red;*/
}

ul * { /* CUANDO SE DECLARA UN SELECTOR DE ESTA MANERA (QUE SE DEJA UN ESPACIO ENTRE ELLOS) EL SELECTOR DE LA DERECHA ES HIJO, NIETO O BISNIETO (EN POCAS PALABRAS ESTÁ DENTRO) DEL SELECTOR MAS A LA IZQUIERDA
       EN POCAS PALABRAS DECIMOS QUE CUALQUIER ELEMENTO QUE ESTE DENTRO DEL UL VA A TOMAR LOS ESTILOS QUE DEFINAMOS EN SEGUIDA, PERO EN ESTE CASO SOLO LO TOMARAN LOS ELEMENTOS
       DENTRO DEL UL */
    color: aliceblue;
}


/***************************************************
*** SELECTORES CASE SENSITIVE Y CASE INSENSITIVE ***
****************************************************
LOS SELECTORES EN CSS SON CASE INSENTIVE, SE PUDEN ESCRIBIR EN MAYUSCULAS, MINUSCULAS O EN UNA COMBINACIÓN DE AMBAS, LO MISMO SUCEDE CON LAS PROPIEDADES Y VALORES, PERO SE DEBE
TOMAR EN CUENTA QUE PARA HTML NO, ENTONCES SI EN HTML ESCRIBIMOS EL NOMBRE DE UNA CLASE EN MAYUSCULAS, MINUSCULAS O UNA COMBINCACIÓN DE AMBAS, ENTONCES AL MOMENTO DE MANDARLA
LLAMAR EN CSS SE DEBE HACER IGUAL (EL NOMBRE DEL SELECTOR DE CLASE CSS DE SER IGUAL AL NOMBRE QUE USAMOS EN HTML */

.sensitive {
    color: AquamarinE;
}

/***************************
*** SELECTORES AGRUPADOS ***
****************************
SE DICE QUE SON SELECTORES AGRUPADOS CUANDO TENEMOS VARIOS SELECTORES Y JUNTOS HACEN UNA SELECCIÓN DIFERENTE */

 .class1, .class2, .class3 { /* CUANDO TENEMOS ESTOS SELECTORES AGRUPADO SEPARADOS POR COMA (,) LOS ESTILOS QUE DEFINAMOS SE APLICARAN A TODOS LOS ELEMENTOS EN ESTE CASO CON
                             CON LAS CLASES class1, class2 y class3 */
     color: brown;
 }


/*******************************
*** SELECTORES DESCENDIENTES ***
********************************
*/